<p id="notice"><%= notice %></p>

<h1>
  <%= @group.name %>
</h1>

<p>
  <strong>Company:</strong>
  <%= Company.find(@group.company_id).name %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', "/companies/#{@group.company_id}" %>
