<p id="notice"><%= notice %></p>

<h1>
  Client Info:
</h1>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Company:</strong>
  <%= @client.company %>
</p>

<p>
  <strong>Sector:</strong>
  <%= Sector.find(@client.sector_id).client_type %>
</p>

<p>
  <strong>Manager:</strong>
  <%= Manager.find(@client.manager_id).name %>
</p>

<p>
  <strong>Communications:</strong>
  <ul>
    <% @client.communications.each do |comm| %>
    <li><%= comm.created_at %> | <%= link_to 'Show', communication_path(comm.id) %> 
    <% end %>
  </ul>
</p>

<p>
  <strong>Add Communication:</strong>
  <%= render 'communications/form', communication: @communication %>
</p>

<%= link_to 'Edit Client', edit_client_path(@client) %> |
<%= link_to 'Back', "/managers/#{@client.manager_id}" %>
