<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @communication.created_at %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @communication.comment %>
</p>

<p>
  <strong>Communication by:</strong>
  <%= @communication.manager %>
</p>

<%= link_to 'Edit Communication', edit_communication_path(@communication) %> |
<%= link_to 'Delete Communication', communication_path(@communication), method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', "/clients/#{@communication.client_id}" %>
